/* Mobile first */
* {
    box-sizing: border-box;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.logo, .nav-link {
    text-underline-offset: 5px;
    text-decoration-thickness: 0.5rem;
} 


.logo {
    color: black;
    font-size: 1.75rem;
    font-weight: 900;
}

.logo:hover {
    font-size: 1.85rem
}

.nav-links {
    list-style: none;
}

.nav-link {
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
}

.nav-link:hover {
    font-size: 1.35rem;
}

h2 {
    margin-top: 2em;
}

.splash .bio {
    text-align: center;
}

.bio  p {
    line-height: 1.75;
    font-size: 1.25rem;
}

.bold {
    font-weight: 700;
}

.splash-section > img {
    border-radius: 1em;
    width: 100%;
}

.recent-projects {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 1em;
}

.recent-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    background: #ffffffcf; 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    color: initial
}

.recent-project:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

.recent-project img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.recent-project p {
    color: rgb(73, 73, 73);
    font-size: 0.85rem;
    line-height: 1.5;
}

a[href="/projects.html"] {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 5px;
    margin-bottom: 2em;
}

a[href="/projects.html"]:hover {
    font-size: 1.15rem;
}

.contact {
    margin: 1em auto 2em;
    max-width: 600px;
    width: 100%;
}

.contact h3 {
    text-align: center;
}

.contact div {
    margin-bottom: 1em;
}

.contact label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.contact input,
.contact textarea {
    width: 100%;
    font-size: 1rem;
    line-height: 1.25em;
    border: 1px solid #ccc;
    padding: 0.5em .75em;
    border-radius: 0.5em;
}

.email a,
.contact button {
    display: inline-block;
    background: black;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75em 1.5em;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    text-align: center;
    cursor: pointer;
}

.contact button:hover,
.email a:hover {
    font-size: 1.15rem;
}

.email {
    margin-top: 1em;
    text-align: center;
    margin: 1em 0 2em;
}

.email p {
    margin-bottom: 0.5em;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.social-icon {
    width: 2em;
} 

.social-icon:hover {
    width: 2.25em;
}


/* Projects page */

.projects {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    border-radius: 12px;
    padding: 1em 2em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.project h2 {
    margin-top: 1em;
    margin-bottom: 0;
}

.project .description {
    margin-bottom: 0;
}

.project img {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.project .skills {
    margin: 1.25em auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.project .skill {
    background: #f0f4f8;
    color: #333;
    padding: 0.35em 0.65em;
    border-radius: 0.5em;
    font-size: 0.85rem;
    font-weight: 500;
}

.project .links {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.project .links a {
    padding: 0.75em 2em;
    text-decoration: none;
    border: 2px solid #333;
    font-weight: 600;
    border-radius: 0.2em;
    background: #333;
    color: #f9f9f9;
}

.project .links a.primary {
    border-color: #ccc;
    background: #f9f9f9;
    color: #333;
}

footer {
    margin-top: 3rem;
    padding: 1.5rem;
    text-align: center;
    font-size: 0.85rem;
    color: #666;
}


/* Tablet and up */
@media (min-width: 768px) {

    .splash-container .bio {
        text-align: left;
    }

    .bio h1 {
        font-size: 3em;
    }

    .bio p {
        font-size: 1.5rem;
    }

    .splash {
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project {
        width: 40%;
    }
}

/* Desktop and up */
@media (min-width: 1025px) {
    .recent-projects {
        flex-direction: row;
    }

    .recent-project {
        max-width: 30%;
    }

}