/* Mobile first */
html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;   
  padding: 1em;
}

nav {
    margin-bottom: 2em;
    /* display: flex; */
    display: none;
}

h2 {
    margin-top: 2em;
}

.logo {
    display: none;
}

.nav-links {
    width: 100%;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.splash .bio {
    text-align: center;
}

.bio  p {
    line-height: 1.75;
    font-size: 1.25rem;
}

.bold {
    font-weight: 700;
}

.splash-section > img {
    border-radius: 1em;
    width: 100%;
}

.recent-projects {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.recent-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    background: #ffffffcf; 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    color: initial
}

.recent-project:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

.recent-project img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.recent-project p {
    color: rgb(73, 73, 73);
    font-size: 0.85rem;
    line-height: 1.5;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.social-icon {
    padding: 1em;
    width: 2em;
} 

.social-icon:hover {
    width: 2.25em;
}

/* Tablet and up */
@media (min-width: 768px) {
    .splash-container .bio {
        text-align: left;
    }

    .bio h1 {
        font-size: 3em;
    }

    .bio p {
        font-size: 1.5rem;
    }

    .splash {
        display: flex;
        align-items: center;
        gap: 2em;
    }
}

/* Desktop and up */
@media (min-width: 1025px) {
    .recent-projects {
        flex-direction: row;
    }

    .recent-project {
        max-width: 30%;
    }

}